a {
  color: rgb(0, 113, 133);
}

.shoe-paragraph {
  font-weight: bold;
  font-size: x-large;
}

.stock-paragraph {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

p {
  font-size: larger;
}

.add-button {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
}

.buy-button {
  background-color: rgb(255, 164, 28);
  color: black;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
}